* {
    padding: 0px;
    margin: 0px;

}

body {
    padding: 0px;
    margin: 0px;
    background: #c4c3c4;
}

p {
    font-size: 16px;
    font-family: 'Arial';
    text-align: center;
    padding: 0;
    margin: 0 auto;
    color: black;
}

#heading {
    text-shadow: 2px 2px 2px #42c4c7, 0px 0px 40px #000000;

    //text-shadow: 0px 0px 64px -2px rgba(0,0,0,0.75);

    font-size: 60px;
    font-family: 'corbel';
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0 auto 10px auto;
    color: #ffffff;
    position: relative;

}

#granimInstance {

    width:100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: fixed;

}



/* ButtonDivs */
#donkeyButtonDivLeft {
    position: absolute;
    display: block;
    width: 700px;
    margin: 0px auto;
}

#donkeyButtonDivRight {

    width: 98px;
    margin: 0px auto;
    float: right;

    display: block;
}



/* Buttons */
.donkeyButtons {
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.50);
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.50);
    background-color: #42c4c7;
    border: none;
    border-radius: 4px 0px 0px 4px;
    display: block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Corbel';
    font-size: 15px;
    font-weight: bold;
    padding:5px 0px;
    width: 100px;
    text-decoration:none;
    margin-top: 10px;
}

.donkeyButtons:hover {
    background-color: #43a3c7;
}

.controlButtons {

    border: 2px solid #ffffff;
    border-radius: 15px;
    background-color: #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #43a3c7;
    font-family: 'Arial Black';
    font-size: 15px;
    font-weight: bold;
    padding:0px 0px 2px 0px;
    width: 30px;
    margin: 0px 10px 0px 10px;
}

#donkeyButtonDivRight * {
    width: 100px;
    border-radius: 0px 4px 4px 0px;
    position: relative;
    display: block;
}

#removeElementButton {
    background-color: #ff465b;
}

#exportButton {
    background-color: #387d98;
}

#openGithubButton {
    background-color: #387d98;
}


/* DonkeyCanvas */
#donkeyCanvasDiv {
    text-align: center;
    display: block;
    position: relative;
    width: 900px;
    margin: 0px auto;

}

.canvas-container {
    -webkit-box-shadow: 0px 0px 50px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px -2px rgba(0,0,0,0.75);
    margin: 0px auto;
}

#donkeyCanvas {
    border: #42c4c7 3px solid;
}



/* elementsSettingsDiv */
#elementSettingsDiv {
    border: #42c4c7 2px solid;
    margin: 0px auto 0px auto;
    width: 702px;
    background: #42c4c7;
    font-size: 28px;
    font-family: 'arial';
    font-weight: bold;
}

#elementSettingsDiv span {
    top: 10px;
}

/* Images */
.preloadImage{
    width: 10%;
    height: auto;
}
