* {
    padding: 0px;
    margin: 0px;

}

body {
    background: #cfff69;
}

#heading {
    font-size: 50px;
    font-family: 'corbel';
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 10px auto 10px auto;
    color: #42c4c7;
    display: block;
}

p {
    font-size: 16px;
    font-family: 'Arial';
    text-align: center;
    padding: 0;
    margin: 0 auto;
    color: black;
}

#donkeyCanvasDiv {
    text-align: center;
    display: block;
    position: relative;
    width: 900px;
    margin: 0px auto;

}

#donkeyButtonDivLeft {
    position: absolute;
    display: block;
    width: 700px;
    margin: 0px auto;
}

#donkeyButtonDivRight {
    position: relative;
    display: block;
    width: 800px;
    margin: 0px auto;
    float: right;
}




.donkeyButtons {
    background-color: #42c4c7;
    display: block;
    cursor: pointer;
    color: #ffffff;
    font-family: Corbel;
    font-size: 15px;
    padding:5px 0px;
    width: 100px;
    text-decoration:none;
    border: none;
    margin-bottom: 10px;
}
#snapLeftButton {
    float: right;
    width: 98px;
}

.donkeyButtons:hover {
    background-color: #43a3c7;
}

#removeElementButton {
    background-color: #ff465b;
}



.canvas-container {
    margin: 0px auto;
}

#donkeyCanvas {
    border: #42c4c7 2px solid;
}

